html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-areas:
        "editor details"
        "footer footer";
    grid-template-rows: 1fr 28px;
    grid-template-columns: 70% 1fr;
    height: 100%;
    overflow: hidden;
}

#editor {
    grid-area: editor;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: visible
}

#detail-column {
    grid-area: details;
    background-color: #141414;
    color: #9e9e9e;
    overflow-y: overlay;
}

#detail-column:hover {
    color: #F8F8F8;
}

#rhyme-table {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: -1;
    overflow-y: overlay;
}

#footer {
    grid-area: footer;
    background-color: #232323;
    color: #bdbdbd;
    font-family: 'Roboto', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

td {
    width: 400%;
    font-family: 'Roboto Mono', monospace;
    padding: 16px;
    text-align: left;
    cursor: default;
    animation: slide-up 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    background-color: #232323;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #4c4c4c;
    width: 8px;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.25)
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}