@import 'colors.css';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  display: grid;
  grid-template-areas: 'editor details';
  grid-template-rows: minmax(200px, 1fr) 28px;
  grid-template-columns: minmax(200px, 1fr) minmax(20%, 150px);
  height: 100%;
  width: 100%;
}

#editor {
  grid-area: editor;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

#detail-column {
  grid-area: details;
  background-color: var(--primary-background-color);
  color: var(--tertiary-text-color);
  font-size: var(--details-text-size);
  overflow-y: overlay;
  overflow-x: hidden;
  width: 100%;
  transition: 0.2s;
}

#detail-column:hover {
  color: var(--primary-text-color);
}

.toast {
  background-color: var(--secondary-background-color) !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}
